[Desktop Entry]
Type=Application
Name=Scan WIFI
Exec=bash /home/thecabbage/Desktop/dexterslab/scripts/launch-offline-observer.sh --wifi
Icon=/home/thecabbage/Desktop/dexterslab/dexterslab-frontend/public/icons/wifi-icon.svg
Terminal=false
StartupNotify=false
